
<div class = "backgroundMap">
  <div class="container">
    <div class ="row tab_contents">
    <script>
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    </script>
      <div class ="col-sm-4">
      <h1>Hospitals</h1>
      <table class="table table-bordered">
        <tbody>
          <%@data.each do |place|%>
            <tr>
              <td>
                <p><a href ="<%=place.mobile_url%>"><strong><%=place.name%></strong></a></p>
                <p><%=place.phone%></p>
                <% place.location.display_address.each do |add| %>
                  <p><%= add %> </p>
                <% end %>   
              </td>
            </tr>
         <%end%>
        </tbody>
      </table>
      <% if flash[:success] %>
      <p style="color: #f15a29;"><%= flash[:success] %></p>
      <% end %>
      </div>
      <h1> Map</h1>
      <div id = "map" class="col-sm-6" style = "border: 1px solid black; width: 60%; min-height: 800px;">
      </div>

    
      </div>

  </div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>

</div>